
.addons {
    padding: 2rem;

    h3 {
        font-size: var(--fs-400);
    }
}

.addon-month{
    color: hsl(var(--clr-primary-400));
}

.addons-box {
    --gap: 1.5rem;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    padding: 0.8rem 1rem;
    border: 2px solid hsl(var(--clr-neutral-400));

    &--checked{
        border: 1px solid hsl(var(--clr-primary-300));
        background-color: hsl(var(--clr-primary-600), 0.1);
    }
    
    div:last-of-type {
        margin-left: auto;
    }
}

.addons-box input[type="checkbox"] {
    width: 1.2rem;
    height: 1.2rem;

    // appearance: none;
    background-color: red;

}