
.addons {
    padding: 2rem;
}

.addon-month{
    color: hsl(var(--clr-primary-400));
}

.addons-box {
    --gap: 1.5rem;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    padding: 0.5rem 1rem;
    border: 2px solid hsl(var(--clr-neutral-400));

    &--checked{
        border: 2px solid red;
    }
    
    div:last-of-type {
        margin-left: auto;
    }
}

.addons-box input[type="checkbox"] {
    width: 1.5rem;
    height: 1.5rem;

    // appearance: none;
    background-color: red;

}